<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3><a href="/controlPanel">Jira control panel</a></h3>
Host: <b><span th:text="${host}"></span></b><br/>
User: <b><span th:text="${user}"></span></b><br/>

<p><form action="/controlPanel" method="post">
    <input type="hidden" name="mode" value="execute_process"/>
    <button name="submit">Run XML automation process</button>
</form></p>
<p><form action="/controlPanel" method="post">
    <input type="hidden" name="mode" value="execute_process2"/>
    <button name="submit">Run XML automation process 2</button>
</form></p>

<p>
    Result : <b><th:block th:utext="${result}"/></b>
</p>
</body>
</html>